h1 {
    color:blue;
    background-color: darksalmon;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkturquoise;
    flex: 30%;
}

img {
    flex: 10%;
}